* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #11780c, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-card {
  width: 320px;
  background: #000000;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.cover {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

h2 {
  font-size: 22px;
  margin-bottom: 4px;
}

p {
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}

.progress-box {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  width: 45%;
  height: 100%;
  background: #6c63ff;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
  margin: 8px 0 18px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.controls button {
    color: #ddd;
  background: rgb(0, 0, 0);
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.play {
  background: #ece3e3;
  color: rgb(0, 0, 0);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}